{{ 'card-section.css' | asset_url | stylesheet_tag }}
{{ 'glide-theme.css' | asset_url | stylesheet_tag }}

<div class="card-section">
        <h1 class="card-section__title">{{ section.settings.text }}</h1>
        {% for block in section.blocks %}
        <div class="card-section__cards">
            <div class="card">
                <div  class="card__icon"><img src="{{ block.settings.icon| image_url }}" alt=""></div>
                <div class="card__titles">
                    <span>{{ block.settings.heading}}</span>
                    <span><i>{{ block.settings.heading2}}</i></span>
                </div>
                <div class="card__text">{{ block.settings.description}}</div>
            </div>
        </div>
        {% endfor %}
</div>

{% schema %}
  {
    "name": "Card Section",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Title",
        "default": "Section Title"
      }
    ],
    "blocks": [
            {
        "type": "card",
        "name": "Card",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Title"
          },
                    {
            "type": "text",
            "id": "heading2",
            "default": "Heading",
            "label": "Subtitle"
          },
                              {
            "type": "textarea",
            "id": "description",
            "default": "Description textarea",
            "label": "Description"
          },
                  { 
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
        }
          ]
      }
        ]
    }
{% endschema %}

      