{{ 'card-section.css' | asset_url | stylesheet_tag }}

<div class="card-section">
        <h1 class="card-section__title">{{ section.settings.text }}</h1>
        <div class="card-section__cards">
            <div class="card">
                <div  class="card__icon">{% for block in section.blocks %}<img src="{{ block.settings.icon| image_url }}" alt="">{% endfor %}</div>
                <div class="card__titles">
                    <p>{% for block in section.blocks %}{{ block.settings.heading}}{% endfor %}</p>
                    <p><i>{% for block in section.blocks %}{{ block.settings.heading2}}{% endfor %}</i></p>
                </div>
                <div class="card__text">{% for block in section.blocks %}{{ block.settings.description}}{% endfor %}</div>
            </div>
        </div>
</div>

{% schema %}
  {
    "name": "Card Section",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Title",
        "default": "Section Title"
      }
    ],
    "blocks": [
      {
        "type": "card-title",
        "name": "Card Title",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Title"
          }
        ]},
        {
        "type": "card-subtitle",
        "name": "Card Subtitle",
          "settings":[
            {
            "type": "text",
            "id": "heading2",
            "default": "Headings",
            "label": "Subtitle"
          }
          ]
          }, 
          { 
        "type": "card-description",
        "name": "Card Description",
        "settings":[ 
         { 
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "I'm Brian, and so's my wife! Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony."
            }
                ]   
        },
        { 
        "type": "card-icon",
        "name": "Card icon",
        "settings":[ 
        { 
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
        }
        ]
                }
        ]
      }
{% endschema %}